.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed for your layout */
  }
  
  .welcome-message {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 160px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 120px; /* Increase the gap between buttons */
  }
  
  .button-container button {
    padding: 10px 20px; /* Adjust padding to make buttons larger */
    font-size: 1.2rem; /* Increase font size if needed */
  }